<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53735697196-a9fm48ffm3pdp6e94fu2hakq79bsob21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53735697196-a9fm48ffm3pdp6e94fu2hakq79bsob21</string>
	<key>API_KEY</key>
	<string>AIzaSyDSmG2Jtp8sY2v_XGfjvMz-4HAihmAdzOI</string>
	<key>GCM_SENDER_ID</key>
	<string>53735697196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daily</string>
	<key>PROJECT_ID</key>
	<string>daily-dev-5ac46</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-dev-5ac46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53735697196:ios:754f8df80e19637ad61a89</string>
</dict>
</plist>